<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>JR My Page</title>
    <link rel="stylesheet" href="mypage.css" />
  </head>
  <body>
    <section class="main-form">
      <div class="logobox">
        <a href="/main">
          <img class="logo_main" src="img/jr.png" alt="JR_logo" />
        </a>
      </div>
      <div>
        <button class="home-button" onclick="location.href='/main'">
          Home
        </button>
      </div>
      <div>
        <button class="logout-button" onclick="location.href='/auth/logout'">
          Logout
        </button>
      </div>
      <div class="white_background">
        <div class="comment">
          <div class="starbox">
            <img class="star" src="img/star.png" alt="star" />
          </div>
          <h1 class="text_1">Favorites</h1>
        </div>
        <div class="cardBox">
          <div>
            <a class="none" href="googoodang.html">
              <img
                class="circle_img"
                src="img/googoodang_img.jpeg"
                alt="googoodang_img"
              />
              <p class="storeName">Googoodang</p>
            </a>
          </div>
          <div>
            <a class="none" href="nubase.html">
              <img
                class="circle_img"
                src="img/nubase_img.png"
                alt="nubase_img"
              />
              <p class="storeName">Nubase</p>
            </a>
          </div>
          <div>
            <a class="none" href="babilian.html">
              <img
                class="circle_img"
                src="img/babilian_img.jpeg"
                alt="babilian_img"
              />
              <p class="storeName">Babilian</p>
            </a>
          </div>
        </div>
        <!-- <div class="cardBox">
              <div class="card">
                  <div><p class="storeName">Googoodang</p></div>
              </div>
              <div class="card">
                  <div><p class="storeName">Nubase</p></div>
              </div>
              <div class="card">
                  <div><p class="storeName">Babilian</p></div>
              </div>
          </div> -->
      </div>
    </section>
  </body>
</html>
