<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상세페이지</title>
    <style>
      .bar {
        display: flex;
        justify-content: space-between;
      }
      .recommend_shops {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border: 1px solid black;
        height: 400px;
      }
    </style>
  </head>
  <body>
    <div class="bar">
      <a href="/main">로고 이미지</a>
      <a href="/mypage">마이 페이지</a>
      <a href="/auth/logout">로그아웃</a>
    </div>
    <div class="recommend_shops"></div>
  </body>
</html>
