<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>회원가입 폼</title>
    <link rel="stylesheet" href="/signup.css" />
  </head>
  <body>
    <section class="container">
      <header>Registration Form</header>
      <form action="/auth/register" method="POST" class="form">
        <div class="input-box">
          <label class="font">ID</label>
          <input type="text" name="userID" placeholder="Enter ID" required />
          <!-- required -->
        </div>

        <div class="input-box">
          <label class="font">Password</label>
          <input
            type="text"
            name="password"
            placeholder="Enter password"
            required
          />
        </div>

        <div class="column">
          <div class="input-box">
            <label class="font">Name</label>
            <input type="text" name="name" placeholder="Enter Name" />
          </div>

          <div class="input-box">
            <label class="font">Birth Date</label>
            <input
              type="date"
              name="birthDate"
              placeholder="Enter birth date"
              required
            />
          </div>
        </div>
        <div class="gender-box">
          <h3 class="font">Gender</h3>
          <div class="gender-option">
            <div class="gender">
              <input
                type="radio"
                id="check-male"
                name="gender"
                value="male"
                checked
              />
              <label for="check-male">Male</label>
            </div>
            <div class="gender">
              <input
                type="radio"
                id="check-female"
                name="gender"
                value="female"
              />
              <label for="check-female">Female</label>
            </div>

            <!-- <div class="gender">
                    <input type="radio" id="check-other" name="gender" />
                    <label for="check-other">prefer not to say</label>
                  </div> -->
          </div>
        </div>
        <div class="input-box address">
          <label class="font">Address</label>
          <!-- <input type="text" placeholder="Enter street address" required /> -->
          <!-- <input type="text" placeholder="Enter street address line 2" required /> -->
          <div class="column">
            <div class="select-box">
              <select name="area">
                <option hidden>Location</option>
                <option value="신사동">신사동</option>
                <option value="논현1동">논현1동</option>
                <option value="논현2동">논현2동</option>
                <option value="압구정동">압구정동</option>
                <option value="청담동">청담동</option>
                <option value="삼성1동">삼성1동</option>
                <option value="삼성2동">삼성2동</option>
                <option value="대치1동">대치1동</option>
                <option value="대치2동">대치2동</option>
                <option value="대치4동">대치4동</option>
                <option value="역삼1동">역삼1동</option>
                <option value="역삼2동">역삼2동</option>
                <option value="도곡1동">도곡1동</option>
                <option value="도곡2동">도곡2동</option>
                <option value="개포1동">개포1동</option>
                <option value="개포2동">개포2동</option>
                <option value="개포3동">개포3동</option>
                <option value="개포4동">개포4동</option>
                <option value="세곡동">세곡동</option>
                <option value="일원본동">일원본동</option>
                <option value="일원1동">일원1동</option>
                <option value="수서동">수서동</option>
              </select>
            </div>
            <!-- <input type="text" placeholder="Enter your city" required /> -->
          </div>
          <!-- <div class="column">
                  <input type="text" placeholder="Enter your region" required />
                  <input type="number" placeholder="Enter postal code" required />
                </div> -->
        </div>
        <div class="column2">
          <div class="input-box">
            <a class="signup_button" href="/" style="background-color: #ececff"
              >Back to Login page</a
            >
          </div>
          <button class="signup_button">Submit</button>
        </div>
      </form>
    </section>

    <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get("error")) {
          alert("이미 존재하는 아이디 입니다.");
        }
      };
    </script>
  </body>
</html>
