<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        {% if user %}
            <div>
                <form id="twit-form" action="/post" method="post" enctype="multipart/form-data" accept-charset="UTF-8">
                    <div class="input-group">
                        <textarea id="twit" name="content" maxlength="140"></textarea>
                    </div>
                    <div class="input-group">
                        <label for="store-name">Store Name:</label>
                        <input type="text" id="store-name" name="storeName">
                    </div>
                    <div class="img-preview">
                        <img id="img-preview" src="" style="display: none;" width="250" alt="미리보기">
                        <input id="img-url" type="hidden" name="url">
                    </div>
                    <div>
                        <label id="img-label" for="img">Upload Picture</label>
                        <input id="img" type="file" accept="image/*">
                        <button id="twit-btn" type="submit" class="btn">Submit</button>
                    </div>
                </form>
            </div>
        {% endif %}
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
            window.onload = () => {
                if (new URL(location.href).searchParams.get('loginError')) {
                    alert(new URL(location.href).searchParams.get('loginError'));
                }
            };
            if (document.getElementById('img')) {
            document.getElementById('img').addEventListener('change', function(e) {
                const formData = new FormData();
                console.log(this, this.files);
                formData.append('img', this.files[0]);
                axios.post('/post/img', formData)
                    .then((res) => {
                        document.getElementById('img-url').value = res.data.url;
                        document.getElementById('img-preview').src = res.data.url;
                        document.getElementById('img-preview').style.display = 'inline';
                    })
                    .catch((err) => {
                        console.error(err);
                    });
            });
        }
        </script>
    </body>
</html>