<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
</head>
<body>
  <h1>Profile</h1>
    <div class="profile">
        <h2>프로필 정보</h2>
            Id: {{ user.id }}<br>
            community: {{ user.community }}<br>
            password: {{ user.password }}<br>
            PageRank: {{ user.pagerank }}
    </div>
</body>
</html>

