.login-info{
    display: inline-block;
    position: absolute; left: 300px; top: -10px;
    padding: 10px 20px;
    margin: 30px 20px;
    border: none;
    border-radius: 30px;
    background-color: #fffaeb;
    color: #000;
    text-align: center;
    text-decoration: none;
    width: 140px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

.login-name{
    color: crimson;
    display: inline-block;
    position: absolute; left: 450px; top: -10px;
    padding: 10px 5px;
    margin: 30px 5px;
    border: none;
    border-radius: 10px;
    background-color: #fffaeb;
    text-align: center;
    text-decoration: none;
    width: 50px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

.my-page-button{
    display: inline-block;
    position: absolute; left: 940px; top: -10px;
    padding: 10px 20px;
    margin: 30px 20px;
    border: none;
    border-radius: 30px;
    background-color: #fffaeb;
    color: #000;
    text-align: center;
    text-decoration: none;
    width: 140px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}
.my-page-button:hover{
    transition: all 0.5s ease;
    border-radius: 30px;
    background-color: #f6f0d6;
    color: #000000;
    cursor: pointer;
}

.home-button{
    display: inline-block;
    position: absolute; left: 1110px; top: -10px;
    padding: 10px 20px;
    margin: 30px 20px;
    border: none;
    border-radius: 30px;
    background-color: #fffaeb;
    color: #000;
    text-align: center;
    text-decoration: none;
    width: 140px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}
.home-button:hover{
    transition: all 0.5s ease;
    border-radius: 30px;
    background-color: #f6f0d6;
    color: #000000;
    cursor: pointer;
}

.logout-button{
    display: inline-block;
    position: absolute; left: 1280px; top: -10px;
    padding: 10px 20px;
    margin: 30px 20px;
    border: none;
    border-radius: 30px;
    background-color: #fffaeb;
    color: #000;
    text-align: center;
    text-decoration: none;
    width: 140px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

.logout-button:hover{
    transition: all 0.5s ease;
    border-radius: 30px;
    background-color: #f6f0d6;
    color: #000000;
    cursor: pointer;
}