.login-info{
    display: inline-block;
    position: absolute; left: 300px; top: -10px;
    padding: 10px 20px;
    margin: 30px 20px;
    border: none;
    border-radius: 30px;
    background-color: #fffaeb;
    color: #000;
    text-align: center;
    text-decoration: none;
    width: 140px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

.login-name{
    color: crimson;
    display: inline-block;
    position: absolute; left: 460px; top: -10px;
    padding: 10px 5px;
    margin: 30px 5px;
    border: none;
    border-radius: 10px;
    background-color: #fffaeb;
    text-align: center;
    text-decoration: none;
    width: 50px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

.my-page-button{
    display: inline-block;
    position: absolute; left: 940px; top: -10px;
    padding: 10px 20px;
    margin: 30px 20px;
    border: none;
    border-radius: 30px;
    background-color: #fffaeb;
    color: #000;
    text-align: center;
    text-decoration: none;
    width: 140px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}
.my-page-button:hover{
    transition: all 0.5s ease;
    border-radius: 30px;
    background-color: #f6f0d6;
    color: #000000;
    cursor: pointer;
}

.home-button{
    display: inline-block;
    position: absolute; left: 1110px; top: -10px;
    padding: 10px 20px;
    margin: 30px 20px;
    border: none;
    border-radius: 30px;
    background-color: #fffaeb;
    color: #000;
    text-align: center;
    text-decoration: none;
    width: 140px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}
.home-button:hover{
    transition: all 0.5s ease;
    border-radius: 30px;
    background-color: #f6f0d6;
    color: #000000;
    cursor: pointer;
}

.logout-button{
    display: inline-block;
    position: absolute; left: 1280px; top: -10px;
    padding: 10px 20px;
    margin: 30px 20px;
    border: none;
    border-radius: 30px;
    background-color: #fffaeb;
    color: #000;
    text-align: center;
    text-decoration: none;
    width: 140px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

.logout-button:hover{
    transition: all 0.5s ease;
    border-radius: 30px;
    background-color: #f6f0d6;
    color: #000000;
    cursor: pointer;
}

.storeName{
    position: relative;
    font-size: 20px;
    /* text-decoration: none; */
    color: #000000;
  }

.text_1{
    color:limegreen;
}

.text_2{
    color:forestgreen;
}

.rating-bar {
    position: relative;
    height: 20px; /* Adjust the height of the rating bar */
    background-color: green; /* Adjust the background color of the rating bar */
    transition: width 0.5s ease; /* Adjust the transition duration and timing function */
  }
  
  .rating-label {
    position: absolute;
    font-size: 12px; /* Adjust the font size of the rating labels */
    top: -20px; /* Adjust the vertical position of the labels */
  }
  
  .rating-label.right {
    right: 0; /* Position the right label at the end of the rating bar */
  }
  